/* Main Styles */

* {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	background: #fff;
	font-family: arial, sans-serif;
	font-size: 18px;
}

body, html {
	height: 100%;
}

#container {
    text-align: center;
}

a {
    cursor: pointer;
}

.footer-hr {
    max-width: 100%;
    width: 100%;
    height: 1px;
    margin: 10px 0;
    background: #444;
}

.fade-in{
  animation: animationFrames ease 1.5s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  animation-fill-mode:forwards; /*when the spec is finished*/
  -webkit-animation: animationFrames ease 1.5s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/ 
  -moz-animation: animationFrames ease 1.5s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 50% 50%;
  -moz-animation-fill-mode:forwards; /*FF 5+*/
  -o-animation: animationFrames ease 1.5s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 50% 50%;
  -o-animation-fill-mode:forwards; /*Not implemented yet*/
  -ms-animation: animationFrames ease 1.5s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 50% 50%;
  -ms-animation-fill-mode:forwards; /*IE 10+*/
}

@keyframes animationFrames{
  0% {
    opacity:0;
    transform:  translate(0px,-25px)  ;
  }
  100% {
    opacity:1;
    transform:  translate(0px,0px)  ;
  }
}

@-moz-keyframes animationFrames{
  0% {
    opacity:0;
    -moz-transform:  translate(0px,-25px)  ;
  }
  100% {
    opacity:1;
    -moz-transform:  translate(0px,0px)  ;
  }
}

@-webkit-keyframes animationFrames {
  0% {
    opacity:0;
    -webkit-transform:  translate(0px,-25px)  ;
  }
  100% {
    opacity:1;
    -webkit-transform:  translate(0px,0px)  ;
  }
}

@-o-keyframes animationFrames {
  0% {
    opacity:0;
    -o-transform:  translate(0px,-25px)  ;
  }
  100% {
    opacity:1;
    -o-transform:  translate(0px,0px)  ;
  }
}

@-ms-keyframes animationFrames {
  0% {
    opacity:0;
    -ms-transform:  translate(0px,-25px)  ;
  }
  100% {
    opacity:1;
    -ms-transform:  translate(0px,0px)  ;
  }
}

/* Banner Section Styling */

#banner .img {
    max-width: 100%;
}

/* Main Section Stling */

#main {
    padding: 80px 0;
    background: #dadfe1;
}

#main h1 {
    margin-bottom: 8px;
    font-size: 32px;
    font-family: arial, sans-serif;
}

#main hr {
    width: 70px;
    margin: 0 auto 26px auto;
    height: 4px;
    background: dodgerblue;
}

#main p {
    padding: 0 3px;
    margin-bottom: 19px;
    font-size: 20px;
    font-family: helvetica, arial, sans-serif;
}

#list {
    padding: 70px 0;
    background: #d7cbc1;
}

#list h2 {
    margin-bottom: 8px;
    font-size: 26px;
    font-family: arial, sans-serif;
}

#list p {
    font-size: 20px;
    margin: 8px 0 60px 0;
}

#list ul li {
    padding: 5px 0;
}

#list ul li a {
    color: #555;
    opacity: 0.9;
    text-decoration: none;
}

#list ul li a:hover {
    color: #cecece;
}

@media screen and (min-width: 810px) {
    #main h1 {
        font-size: 37px;
    }
    
    #main p {
        width: 600px;
        font-size: 23px;
        margin: 0 auto;
        margin-bottom: 18px;
    }
    
    #list h2 {
        font-size: 30px;
        margin-bottom: 19px;
    }
    
    #list ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        list-style: none;
    }
    
    #list ul li {
        width: 300px;
    }
}

/* Footers Sections Styling */

#footer-1 {
    max-width: 100%;
    width: 100%;
    background: #333;
    padding: 10px 0;
    text-align: center;
}

#footer-1 .left-footer a img {
    margin: 10px 0;
}

#footer-1 .left-footer p {
    color: whitesmoke;
}

#footer-1 .middle-footer .nav-footer {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    list-style: none;
    margin: 15px 2px;
}

#footer-1 .middle-footer .nav-footer li {
    padding: 9px;
    margin: 2px;
}

#footer-1 .middle-footer .nav-footer li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-family: arial, sans-serif;
}

#footer-1 .middle-footer .nav-footer li a:hover {
    color: #666;
}

#footer-1 .middle-footer .notes {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    list-style: none;
    margin: 15px 2px;
}

#footer-1 .middle-footer .notes li {
    padding: 1px;
    margin: 2px;
}

#footer-1 .middle-footer .notes span {
    color: #efefef;
    margin: 2px;
}

#footer-1 .middle-footer .notes li a {
    text-decoration: none;
    color: #999;
    font-size: 16px;
    font-family: arial, sans-serif;
}

#footer-1 .middle-footer .notes li a:hover {
    color: ghostwhite;
}

#footer-1 .right-footer h2 {
    font-size: 30px;
    font-family: helvetica, arial, sans-serif;
    color: lightgray;
    padding-top: 20px;
    padding-bottom: 10px;
}

#footer-1 .right-footer .socials-footer {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    list-style: none;
    margin: 6px 0;
}

#footer-1 .right-footer .socials-footer li {
    padding: 1px;
    margin: 4px 10px;
    font-size: 40px;
}

#footer-1 .fa {
    padding: 10px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

#footer-1 .fa:hover {
    opacity: 0.7;
}

#footer-1 .fa-facebook {
    background: #3B5998;
    color: white;
}

#footer-1 .fa-linkedin {
    background: #007bb5;
    color: white;
}

#footer-1 .fa-github {
    background: #181617;
    color: white;
}

#footer-1 .fa-twitter {
    background: #125688;
    color: white;
}


#footer-2 {
    text-align: center;
    background: #222;
    color: white;
    max-width: 100%;
    width: 100%;
}

#footer-2 p {
    margin: 0 2px;
    padding: 7px 0;
    font-size: 16px;
}

#footer-2 p .fa-heart {
    color: red;
}

#footer-2 p .fa-code {
    color: chartreuse;
}

#footer-2 p .fa-headphones {
    color: #3674f7;
}

#footer-2 p .fa-moon-o {
    color: darkorange;
}

#footer-2 p a {
    text-decoration: none;
    color: #888;
}

#footer-2 p a:hover {
    color: white;
}


/* Footers Responsive Section */

@media screen and (min-width: 790px) {
    #footer-1 {
        padding-bottom: 30px;
    }
    
    #footer-1 div {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        justify-content: center;
    }
    
    .footer-hr {
        display: none;
    }
    
    #footer-1 .left-footer {
        width: 30%;
        float: left;
    }
    
    #footer-1 .middle-footer {
        width: 40%;
    }
    
    #footer-1 .right-footer {
        width: 30%;
        float: right;
    }
    
    #footer-1 .right-footer h2 {
        font-size: 21px;
    }
    
    #footer-1 .right-footer li i {
        font-size: 28px;
    }
    
    #footer-2 p {
        font-size: 19px;
    }
}