/* Main */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #cecece;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
    opacity: 0.9;
}

a:hover {
    opacity: 1;
}

img {
    max-width: 100%;
}

/* Mini Banner Section Styling */

#mini-banner {
    padding: 4px 0;
    background: #ddd;
}

#mini-banner p {
    font-size: 13px;
    font-family: 'PT Sans', arial, sans-serif;
    color: #666;
}

#mini-banner a {
    color: #333;
}

@media screen and (min-width: 620px) {
    #mini-banner {
        padding: 10px 0;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    #mini-banner p {
        font-size: 14px;
    }
}

/* Title Section Styling */

#title {
    text-align: center;
}

#title img {
    width: 80%;
}

#title h2 {
    font-size: 17px;
    font-family: 'Open Sans', arial, sans-serif;
    color: #555;
    margin-bottom: 30px;
}

@media screen and (min-width: 560px) {
    #title {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    #title img {
        width: 100%;
    }
}

/* Newsletter Container Section Styling */

#container {
    background: #f7f7f7;
}

@media screen and (min-width: 780px) {
    #container {
        width: 75%;
        margin: 0 auto;
    }
}

/* Banner and Top Story Section Styling */

#banner {
    text-align: center;
    padding-bottom: 20px;
}

#banner h1 {
    font-size: 29px;
    font-family: 'Open Sans', arial, sans-serif;
    font-weight: 400;
    margin: 15px 0;
}

#banner h2 {
    text-align: justify;
    font-size: 17px;
    font-family: 'PT Sans', arial, sans-serif;
    font-weight: 400;
    padding: 0 15px;
    line-height: 1.3;
    margin-bottom: 20px;
}

#banner button {
    background: #23BDE7;
    font-size: 17px;
    padding: 20px 29px;
    margin: 10px 0 15px 0;
    border: none;
    border-radius: 28px;
    opacity: 0.93;
}

#banner button a {
    color: #fff;
}

#banner button:hover {
    opacity: 1;
}

@media screen and (min-width: 890px) {
    #banner h1 {
        font-size: 36px;
        margin-bottom: 23px;
    }

    #banner h2 {
        width: 75%;
        margin: 0 auto 26px auto;
        padding: 0;
    }
}

/* New Posts Section Styling */

#new {
    padding-top: 13px;
}

#new h1,
#new h2 {
    padding-left: 10px;
}

#new h1 {
    font-size: 31px;
    font-family: 'Open Sans', arial, sans-serif;
    font-weight: 300;
    margin: 5px 0 9px 0;
}

#new h2 {
    font-size: 17px;
    font-family: 'Open Sans', arial, sans-serif;
    font-weight: 300;
    margin-bottom: 19px;
    line-height: 1.5;
}

#new button {
    margin: 2px 0 30px 10px;
    padding: 13px 18px;
    font-size: 16px;
    font-family: 'Open Sans', arial, sans-serif;
    background: #23BDE7;
    border: none;
    border-radius: 28px;
    opacity: 0.93;
}

#new button a {
    color: #fff;
}

#new button:hover {
    opacity: 1;
}

@media screen and (min-width: 760px) {
    #new .flex-new {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    #new .flex-new div {
        margin: 20px 0;
    }

    #new .flex-new .reverse-1 {
        order: 1;
        text-align: right;
    }

    #new .flex-new .reverse-2 {
        padding-left: 30px;
    }

    #new .flex-new img {
        width: 80%;
    }

    #new h1 {
        padding-left: 0;
        padding-right: 10px;
        margin: 4px 0;
        font-size: 20px;
        font-weight: 400;
    }
    
    #new h2 {
        padding-left: 0;
        padding-right: 10px;
        margin-bottom: 13px;
        font-size: 16px;
        line-height: 1.4;
    }

    #new button {
        margin: 2px 0 0 0;
        padding: 10px 14px;
        font-size: 15px;
    }
}

/* About Section Stylng */

#about {
    text-align: center;
    padding: 20px 0;
}

#about p {
    text-align: justify;
    font-size: 17px;
    font-family: 'PT Sans', arial, sans-serif;
    font-weight: 400;
    padding: 0 15px;
    line-height: 1.3;
    margin-bottom: 20px;
}

@media screen and (min-width: 890px) {

    #about p {
        width: 80%;
        margin: 0 auto 26px auto;
        padding: 0;
    }
}

/* Sponsored Section Styling */

#sponsor {
    text-align: center;
    background: #dadada;
    margin-top: 20px;
    padding-bottom: 30px;
}

#sponsor h2 {
    text-align: justify;
    font-size: 16px;
    font-family: 'PT Serif', arial, sans-serif;
    font-weight: 400;
    margin: 4px 0 15px 0;
    padding-left: 10px;
    color: #aaa;
    text-transform: uppercase;
}

#sponsor h1 {
    font-size: 22px;
    font-family: 'Open Sans', arial, sans-serif;
    font-weight: 300;
    margin: 10px 0 20px 0;
}

#sponsor p {
    text-align: justify;
    font-size: 17px;
    font-family: 'PT Sans', arial, sans-serif;
    font-weight: 400;
    margin-bottom: 35px;
    padding: 0 9px;
}

#sponsor a {
    padding: 13px 18px;
    font-size: 14px;
    font-family: 'Open Sans', arial, sans-serif;
    font-weight: 300;
    font-style: italic;
    background: #23BDE7;
    color: #fff;
    border: none;
    border-radius: 28px;
    opacity: 0.93;
}

#sponsor a:hover {
    opacity: 1;
}

@media screen and (min-width: 630px) {
    #sponsor h2 {
        margin: 8px 0 20px 0;
        padding-left: 30px;
    }
    
    #sponsor h1 {
        font-size: 29px;
    }
    
    #sponsor p {
        text-align: center;
        margin-bottom: 45px;
        padding: 0;
    }
    
    #sponsor a {
        padding: 15px 20px;
        font-size: 16px;
    }
}

/* Copyright, Unsubscribe and Info Section Styling */

#info {
    text-align: center;
    padding: 40px 0 10px 0;
}

#info p {
    font-size: 15px;
    font-family: 'Open Sans', arial, sans-serif;
    color: #7a7a7a;
}

#info a {
    color: #696969;
    text-decoration: underline;
}

#info ul li {
    display: inline;
    padding: 0 2px;
}

#info ul a {
    padding: 5px;
}

@media screen and (min-width: 780px) {
    #info {
        width: 70%;
        margin: 0 auto;
    }
}